
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: "Montserrat", sans-serif;
}

h1{
  background-color: #ffb5a7;
  text-align: center;
  color:white;
  font-size: 22px;
  width: 100%;
  text-align: center;
  padding:20px;
  margin: 20px 0;
}



h2,h3{

  text-align: center;
  color:#774936;
  font-size: 17px;
  width: 100%;
  text-align: center;
  padding-top:10px;
  margin-bottom:10px;
}

h2#risultato{
  color:red;

}

p{
  font-size: 16px;
  color:rgb(61,64,91);
  font-weight: bold;
}

.container{
  margin-bottom: 10px;
  background-color: #fec89a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  height:200px;
}

button{
  font-weight: bold;
  font-size: 16px;
  background-color: #e07a5f;
  padding:8px 8px;
  border-radius: 5px;
  color:white;
  transition: .2s;
}

button:hover{
  font-size: 16px;
  background-color: #f2cc8f;
  padding:8px 9px;;
  border-radius: 5px;
  color:white;
}

img{
  width:60px;
  height:auto;
  margin: 5px;
}

.container:first-of-type input,.container:first-of-type select{
  text-align: center;
  width:140px;
  height:40px;
  margin: 5px;
  border-radius: 5px;
}

.container:last-of-type input,.container:last-of-type select{
  text-align: center;
  width:70px;
  height:40px;
  margin: 5px;
  border-radius: 5px;
}

span{
  font-size: 12px;
  background-color: white;
  text-align: center;
  padding:11px 30px;
  margin: 5px;
  border-radius: 5px;
}
